**/node_modules
.env
dump.rdb
/build
/.vscode
prisma/sqlite.db
prisma/sqlite.db-journal
Dockerfile
# .dockerignore
.git
.DS_Store
/test-meta

# Sentry Config File
.env.sentry-build-plugin
.sentryclirc

# Vitest
/vitest-report/
/coverage/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/html/
