node_modules
.env
/build
/.vscode
prisma/sqlite.db
prisma/sqlite.db-journal
Dockerfile
.dockerignore
.git
.DS_Store
.env-prod


# Sentry Config File
.sentryclirc

# Sentry Config File
.env.sentry-build-plugin
